:root{
    --bs-danger-rgb: 179, 28, 0;
    --bs-warning-rgb: 224, 97, 14;
    --bs-info-rgb: 0, 153, 148;
    --bs-secondary-rgb: 0, 76, 109;
}

@font-face {
    font-family: ferrariFont;
    src: url('font/FerroRosso.ttf');
}

@font-face{
    font-family: f1Bold;
    src: url('font/Formula1_bold.ttf');
}

@font-face{
    font-family: f1Regular;
    src: url('font/Formula1_regular.ttf');
}

html{
    background-color: lightgray;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    opacity: 60%;
    border-radius: 100%;
    background-color: rgb( 179, 28, 0);
    cursor: pointer;
}

.back-to-top:hover{
    opacity: 100%;
    transition: 0.5s;
}

.back-to-top:not(hover){
    opacity: 60%;
    transition: 0.5s;
}

h1 {
    text-align: center;
}

.ferrari_font{
    font-family: ferrariFont;
    font-size: 3rem;
}

.navbar{
    width: 85%;
}

.underline:hover{
    text-decoration: underline;
}

.f1_bold{
    font-family: f1Bold;
    font-size: 3rem;
}

.f1_regular{
    font-family: f1Regular;
    font-size: 1rem;
}

th{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.border_yellow{
    border-color: rgb(224, 97, 14) !important;
}

.border_red{
    border-color: rgb(179, 28, 0) !important;
}

.border_info{
    border-color: rgb(0, 153, 148) !important;
}

.border_blue{
    border-color:rgb(0, 76, 109) !important;
}

#preloader{
    background: lightgray url('img/preloader_2.gif') no-repeat center center;
    background-size: 3%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}