@font-face {
    font-family: ferrariFont;
    src: url(font/FerroRosso.ttf);
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    opacity: 60%;
    border-radius: 100%;
    background-color: skyblue;
    cursor: pointer;
}

.back-to-top:hover{
    opacity: 100%;
    transition: 0.5s;
}

.back-to-top:not(hover){
    opacity: 60%;
    transition: 0.5s;
}

h1 {
    text-align: center;
}

body {
    background-color: lightgray;
}

.ferrariFont{
    font-family: ferrariFont;
}